<li><%= link_to 'Categorize Transactions', transactions_categorize_path %></li>
<li><%= link_to 'Transactions', transactions_path %></li>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'Upload CSV', upload_csv_path %></li>
<li><%= link_to 'Upload Statement', upload_statement_path %></li>
